<!-- <h1>Hello {{name}}</h1> -->
<!-- <app-students></app-students> -->
<div>
	<div class="row justify-content-center">
		<h1>Hello {{name}}</h1>
	</div>
	<div>
		<app-students></app-students>
	</div>
</div>